* {
  padding: 0;
  margin: 0;
}

/* CodeMirror-specific */

.CodeMirror, .right {
  display: inline-block;
  position: fixed;
  transition: background 300ms, font-size 300ms, line-height 300ms, width 300ms;
}
.right {
  right: 0;
  width: calc(55% - 1px);
  max-width: 55%;
  min-height: 100%;
  max-height: 100%;
  border-left: 1px solid rgb(229, 229, 238);
  text-align: center;
  font-family: 'Averia Sans Libre', sans-serif;
}
.fullscreen + .right {
  width: 0;
}
.CodeMirror {
  left: 0;
  width: calc(45% - 1px);
  border-right: 1px solid rgb(229, 229, 238);
  background: white;
  font-size: 14px !important;
}
.cm-s-css {
  top: 50%;
  height: 50%;
}
.cm-s-js {
  top: 0px;
  height: calc(50% - 1px);
  border-bottom: 1px solid rgb(229, 229, 238);
}
.CodeMirror * {
  font-size: 14px !important;
}
.CodeMirror-selected {
  border-radius: 2px;
}
.CodeMirror.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  margin: 0;
}
.CodeMirror .icon.fullscreen {
  top: 10px;
  transition: right 250ms;
  right: 30px;
  background-image: url(icon-fullscreen.png);
  background-size: 100% 100%;
}
.CodeMirror .icon.fullscreen:hover, .icon.changeTheme:hover {
    opacity: 1;
}
.CodeMirror .icon {
  width: 18px;
  height: 18px;
  z-index: 200000 !important;
  background-repeat: no-repeat;
  opacity: 0.5;
  display: block;
  position: absolute;
  transition: all 0.1s ease-out 0s;
}
.CodeMirror .icon.changeTheme {
  top: 10px;
  right: 60px;
  background-image: url(icon-changeTheme.png);
}

/* Header */

header {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin-bottom: 2em;
}
hgroup {
  border: dashed 3px #aac;
  border-image: url('crayon.png') 19 stretch;
  border-image-width: 4;
  background: rgba(255, 255, 255, 0.4);
  padding: 1em;
  width: 50%;
  margin: auto;
}

a {
  color: #a70;
  font-variant: small-caps;
}
a:hover {
  position: relative;
  top: -1px;
}
